/*-----------------------------------*\
  #base.css
\*-----------------------------------*/

/*
 * copyright 2024 trdmonkey
*/

/*-----------------------------------*\
  #BASE
\*-----------------------------------*/
html {
    font-family: var(--font-primary);
    font-size: var(--fs-base);
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--fs-body-medium);
    line-height: var(--lh-base);
    height: 100vh;
    height: 100dvh;
}

